.sec1 {height:80vh;}
.sec1 article {width:80%; height:80vh;
               position:relative; left:50%; top:50%;
               transform:translate(-50%,-50%);}

.sec1 article figure {width:50%;
                      position:absolute; top:50%;
                      transform:translate(0,-50%);}
.sec1 article figure img {width:100%;}
.sec1 article .textwrap {width:50%; padding:80px;
                        position:absolute; right:0; top:50%;
                        transform:translate(0,-50%);}
.sec1 article .textwrap .contain .m {width:50%; float:left;}
.sec1 article .textwrap .contain .n {padding-right:10px;}
.sec1 article .textwrap .contain .nn {padding-left:10px;}
.sec1 article .textwrap .contain span {font-weight:400;}
.sec1 article .textwrap .contain h2 {margin-bottom:6px; margin-top:4px;}
.sec1 article .textwrap .contain h3 {font-weight:300; font-size:.9vw;}
.sec1 article .textwrap .contain .m:after {clear:both;}
@media(max-width:512px){
  .sec1 {height:100vh;}
  .sec1 article {width:100%; height:80vh;
                 }
  .sec1 article figure {width:100%;
                        position:relative; top:0;
                        transform:translate(0);
                        }
  .sec1 article .textwrap {width:90%; position:relative; left:50%; top:0;
                           transform:translate(-50%,0);
                           padding:0 5%; margin-top:20px;}
  .sec1 article .textwrap .contain .m {width:100%; float:none; margin-bottom:30px;}
  .sec1 article .textwrap .contain .n {padding-right:0px;}
  .sec1 article .textwrap .contain .nn {padding-left:0px;}
  .sec1 article .textwrap .contain h2 {font-size:1.4em;}
  .sec1 article .textwrap .contain h3 {font-weight:300; font-size:.9em;}
}
