.sec5 {position: relative; top:0; background:#f2f2f2;}
.sec5 article {width:80%; margin:0 auto; height:550px; position:relative;}
.sec5 article .textwrap {width:50%;
                         position:absolute; right:0; top:50%;
                         transform:translate(0,-50%);
                         padding:20px;}
.sec5 article h3 {font-weight:400; font-size:.9vw; margin-top:3px; margin-bottom:3px;}
.sec5 article h4 {font-weight:300; font-size:.9vw;}
.sec5 article figure {width:48% position:absolute; left:0; top:50%;
                      transform:translate(0,-50%); overflow: hidden;}
.sec5 article figure img {width:100%;}
@media(max-width:512px){
  .sec5 {padding-top: 50px;}
  .sec5 article {width:80%; margin:0 auto; height:550px; position:relative;}
  .sec5 article:nth-child(1) {margin-bottom:130px;}
  .sec5 article:nth-child(2) {margin-bottom:120px;}
  .sec5 article:nth-child(3) {margin-bottom:130px;}
  .sec5 article:nth-child(4) {margin-bottom:170px;}
  .sec5 article:nth-child(5) {margin-bottom:50px;}
  .sec5 article .textwrap {width:100%;
                           position:relative; left:0; top:0px;
                           transform:translate(0,0);
                           padding:0px;}
  .sec5 article figure {width:100%; position:relative; left:0; top:0px;
                        transform:translate(0,0); margin-bottom:30px;}
  .sec5 article h3 {font-weight:400; font-size:.9em; margin-top:3px; margin-bottom:3px;}
  .sec5 article h4 {font-weight:300; font-size:.9em;}
}
